# GoAPI API Key (Dapatkan di https://goapi.io)
API_KEY=your_api_key_here

# Cloudflare R2 S3 Credentials (Opsional jika tidak menggunakan .dvc/config.local)
# AWS_ACCESS_KEY_ID=your_r2_access_key_id
# AWS_SECRET_ACCESS_KEY=your_r2_secret_access_key

